<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Home | Turnoverless</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3 rounded-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Turnoverless</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    {% if 'email' not in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign-up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign-in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apply">Apply</a>
                    </li>
                    {% endif %}
                    {% if 'email' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Sign out</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>

        {% if applications != None %}

        <div class="container mb-3">
            {% for application in applications %}

            <div class="row-col justify-content-md-center">
                <div class="card">
                    <div class="card-header">
                        {{ application['status'] }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Turnover Years: {{ application['stag'] }}</h5>
                        <p class="card-text">This application is from {{ application['employee']['firstname'] }} {{ application['employee']['lastname'] }}. You can contact this applicant via email at {{ application['employee']['email'] }}.</p>
                        {% if application['status'] == 'pending' %}
                        <a href="/approve?company_name={{ application['company_name'] }}&email={{ application['employee']['email'] }}&firstname={{ application['employee']['firstname'] }}&lastname={{ application['employee']['lastname'] }}&gender={{ application['employee']['gender'] }}&age={{ application['employee']['age'] }}&industry={{ application['employee']['industry'] }}&profession={{ application['employee']['profession'] }}&traffic={{ application['employee']['traffic'] }}&coach={{ application['employee']['coach'] }}&head_gender={{ application['employee']['head_gender'] }}&greywage={{ application['employee']['greywage'] }}&way={{ application['employee']['way'] }}&extraversion={{ application['employee']['extraversion'] }}&independ={{ application['employee']['independ'] }}&selfcontrol={{ application['employee']['selfcontrol'] }}&anxiety={{ application['employee']['anxiety'] }}&novator={{ application['employee']['novator'] }}" class="btn btn-primary">Approve</a>
                        <a href="/deny?company_name={{ application['company_name'] }}&email={{ application['employee']['email'] }}&firstname={{ application['employee']['firstname'] }}&lastname={{ application['employee']['lastname'] }}&gender={{ application['employee']['gender'] }}&age={{ application['employee']['age'] }}&industry={{ application['employee']['industry'] }}&profession={{ application['employee']['profession'] }}&traffic={{ application['employee']['traffic'] }}&coach={{ application['employee']['coach'] }}&head_gender={{ application['employee']['head_gender'] }}&greywage={{ application['employee']['greywage'] }}&way={{ application['employee']['way'] }}&extraversion={{ application['employee']['extraversion'] }}&independ={{ application['employee']['independ'] }}&selfcontrol={{ application['employee']['selfcontrol'] }}&anxiety={{ application['employee']['anxiety'] }}&novator={{ application['employee']['novator'] }}" class="btn btn-primary">Deny</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>